.git
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
.phpunit.result.cache
.phpunit.cache
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.md
.editorconfig
.vscode
.idea
.fleet
.nova
.zed
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
docker-compose*.yml
